/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
a {
    color: #f75931;
}
body {
	font: 12px/18px 'Noto Sans', sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	min-width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
strong {
	font-weight: bold;
}
a:hover {
    text-decoration: none;
}
* {
    outline: none;
}
/* Header
-----------------------------------------------------------------------------*/
.header .top-header {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 94px;
}
.header .top-header .logo {
    display: block;
    width: 197px;
    height: 43px;
    background: url(../images/logo.png) no-repeat;
    position: absolute;
    left: 0;
    top: 26px;
}
.header .top-header nav {
    position: absolute;
    bottom: 26px;
    left: 243px;
}
.header .top-header nav ul li {
    float: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 15px;
}
.header .top-header nav ul li a {
    color: #595959;
}
.header .top-header .exit {
    font: 13px Arial;
    color: #000;
    background: url(../images/exit.jpg) repeat-x;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    padding: 2px 13px;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 12px;
}
.header .top-header .exit:hover {
    background: #fafafa;
}
.header .top-header .phone {
    font: 22px Arial;
    color: #595959;
    position: absolute;
    right: 2px;
    top: 47px;
}
.header .top-header .phone span {
    color: #f75931;
}
.orang-block {
    background: #f75931;
}
.orang-block .inner-orang-block {
	height: 73px;
	position: relative;
    width: 940px;
    margin: 0 auto;
}
.orang-block .inner-orang-block .personal-account {
	position: absolute;
	top: 21px;
	left: 60px;
	color: #fff;
	font: 24px Arial;
}
.orang-block .inner-orang-block .search-number-keyword {
	position: absolute;
	right: 3px;
	top: 6px;
	color: #fff;
	font: 14px Arial;
}
.orang-block .inner-orang-block .search-form {
	position: absolute;
	right: 0;
	top: 27px;
	overflow: hidden;
}
.orang-block .inner-orang-block .search-form input[type="text"] {
    width: 152px;
	height: 22px;
	background: url(../images/search-form.png) no-repeat;
	border: none;
	padding: 5px 10px 5px 20px;
	float: left;
}
.orang-block .inner-orang-block .search-form input[type="submit"] {
    width: 75px;
	height: 32px;
	background: url(../images/search-btn.png) no-repeat;
	border: none;
	cursor: pointer;
	float: left;
	text-indent: -9999px;
}
.orang-block .inner-orang-block .head-rog {
	display: block;
	background: url(../images/head-rog.png) no-repeat;
	width: 30px;
	height: 19px;
	position: absolute;
	bottom: -19px;
	left: -46px;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
}
.content .inner-content {
    width: 940px;
    margin: 0 auto;
}
.content .inner-content .slogon {
	text-align: center;
	font-size: 16px;
	color: #595959;
	margin: 59px 0 25px;
	line-height: 19px;
}
.content .inner-content .orange-text {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #f75931;
	margin: 10px 0 0;
}
.content .inner-content .cms {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #817d7d;
	margin: 11px 0 40px;
}
.content .inner-content .line {
	border-bottom: 1px solid #dddcdc;
	width: 660px;
	margin: 0 auto;
}
.content .inner-content .cms span {
	margin: 0 10px;
}
.content .inner-content .processing-time {
	margin: 32px 0 0 314px;
	font-size: 14px;
	color: #595959;
}
.content .inner-content .form-block {
	width: 178px;
	margin: 49px auto 42px;
	background: url(../images/form.png) no-repeat;
	padding: 27px 100px;
}
.content .inner-content .form-block input[type="text"],input[type="password"] {
	width: 88%;
	border: 1px solid #dbd8d8;
	border-radius: 4px;
	background: #fff;
	font-size: 13px;
	color: #918c8c;
	padding: 10px;
	height: 12px;
	margin-bottom: 12px;
}
.content .inner-content .form-block input[type="button"],input[type="submit"] {
	background: url(../images/enter.jpg) repeat-x;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	color: #000;
	width: 100%;
	border: 1px solid #dbd8d8;
	cursor: pointer;
	height: 33px;
}
.content .inner-content .form-block input[type="button"]:hover {
	background: url(../images/enter.jpg) repeat-x 0 -32px;
	border: 1px solid #d34724;
    color: #fff;
}
.content .inner-content .form-block input[type="text"]::-webkit-input-placeholder {
    color: #918c8c; 
}
.content .inner-content .form-block span{
	display: block;
	text-align: center;
	font-size: 12px;
}
.content .inner-content .form-block span a {
	color: #817d7d;
	line-height: 45px;
}
.content .inner-content .btn-block {
	text-align: center;
}
.content .inner-content .red-btn {
	background: url(../images/client.jpg) repeat-x;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	padding: 5px 61px;
	border-top: 1px solid #d55130;
	border-bottom: 1px solid #d55130;
	border-left: 1px solid #d5502f;
	border-right: 1px solid #d5502f;
	border-radius: 4px;
	line-height: 42px;
}
.content .inner-content .red-btn:hover {
	background: url(../images/client.jpg) repeat-x 0 -32px;
}
.content .admin {
    padding: 27px 0;
}
.content .admin h3 {
    font-size: 20px;
    color: #6a6262;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 21px;
}
.content .admin .gray-line {
    border-top: 5px solid #f5f5f5;
    margin: 13px 0 35px;
}
.content .admin .admin-img {
    display: inline-block;
    padding: 5px 5px 0 5px;
    border: 2px solid #d9d9d9;
    float: left;
    margin: 0 21px 0 0;
}
.content .admin .admin-block {
    overflow: hidden;
}
.content .admin .admin-name {
    float: left;
    width: 300px;
} 
.content .admin .admin-name h4 {
    font-size: 18px;
    font-weight: bold;
    color: #6a6262;
}
.content .admin .admin-name ul {
    margin: 55px 0 51px 29px;
}
.content .admin .admin-name ul li {
    margin: 0 0 21px 0;
}
.content .admin .admin-name ul li a {
    font-size: 14px;
    color: #000000;
}
.content .admin .admin-name ul li a:hover {
    text-decoration: underline;
    color: #f75931;
}
.content .admin .admin-name .add-client {
	background: url(../images/client.jpg) repeat-x;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	padding: 5px 46px;
	border-top: 1px solid #d55130;
	border-bottom: 1px solid #d55130;
	border-left: 1px solid #d5502f;
	border-right: 1px solid #d5502f;
	border-radius: 4px;
	line-height: 42px;
    font-weight: bold;
}
.content .admin .admin-name .add-client:hover {
	background: url(../images/client.jpg) repeat-x 0 -32px;
}
.content .admin table {
    width: 890px;
	margin: 20px auto;
}
.content .admin table thead {
    background: #f1efef;
}
.content .admin table thead tr {
    font-weight: bold;
    color: #454444;
    text-transform: uppercase;
}
.content .admin table thead tr td {
    background: url(../images/table-td.jpg) no-repeat right center;
    padding: 10px 0 10px 18px;
	position: relative;
}
.left-sp {
	display: block;
	width: 30px;
	height: 38px;
	background: #f1efef;
	position: absolute;
	left: -25px;
	top: 0;
}
.right-sp {
	display: block;
	width: 30px;
	height: 38px;
	background: #f1efef;
	position: absolute;
	right: -25px;
	top: 0;
}
.content .admin table thead tr td:last-child {
    background: none;
}
.content .admin table thead tr td.number {
    width: 75px;
	padding-left: 4px;
}
.content .admin table thead tr td.data {
    width: 90px;
	padding-left: 42px;
}
.content .admin table thead tr td.task {
    width: 327px;
	padding-left: 19px; 
}
.content .admin table thead tr td.task2 {
    width: 485px;
}
.content .admin table thead tr td.clients {
    width: 218px;
	padding-left: 18px;
}
.content .admin table thead tr td.clients2 {
    width: 327px;
	padding-left: 13px;
}
.content .admin table thead tr td.status {
    width: 158px;
}
.content .admin table thead tr td.state {
    width: 149px;
}
.content .admin table tbody tr td{
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #dddddd;
}
.content .admin table tbody tr {
    cursor: pointer;
}
.content .admin table tbody tr:hover {
    background: #f5f5f5;
}
.content .admin table tfoot {
    background: #f1efef;
}
.content .admin table tfoot tr td {
    padding: 19px 0;
	position: relative;
}
tr.last-border td {
    border-bottom: none !important;
}
.depositing {
    background: #f75931;
	padding: 5px 0 5px 32px;
}
.depositing ul li {
	float: left;
}
.clearfix {
	clear: both;
}
.deposit-text {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin-right: 20px;
}
.depositing ul li input[type="text"] {
	height: 23px;
	padding: 0px 15px;
	width: 150px;
	background: #fff;
	border: 1px solid #dbd8d8;
	border-radius: 5px;
	font-size: 14px;
}
.depositing .selects {
	background: #fff;
	border: 1px solid #dbd8d8;
	border-radius: 5px;
	padding: 2px 3px;
	margin: 0 0 0 15px;
}
.selects select {
	border: none;
	width: 275px;
	color: #aaaaaa;
	font-size: 14px;
}
.depositing ul li input[type="button"] {
	height: 26px;
	width: 180px;
	border: 1px solid #dbd8d8;
	border-radius: 4px;
	font-size: 13px;
	color: #000;
	cursor: pointer;
	margin: 0 0 0 15px;
	background: url(../images/send.jpg) repeat-x;
}
.form-add-block {
	overflow: hidden;
}
.left-form {
	float: left;
	width: 390px;
}
.form-add-block .left-form ul li span {
	font: bold 14px Arial;
	color: #595959;
	line-height: 28px;
}
.form-add-block .left-form ul li input[type="text"] {
	width: 360px;
	height: 12px;
	padding: 8px 10px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.form-add-block .left-form ul li textarea {
	width: 360px;
	height: 120px;
	padding: 8px 10px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
span.add-file span {
	font-weight: normal !important;
	text-decoration: underline;
}
.right-form  {
	padding: 20px 0 0 0;
	float: right;
	width: 480px;
}
.right-form ul li {
	margin: 0 0 20px 0;
}
.right-form ul li label {
	display: block;
	font: bold 16px Arial;
	color: #595959;
} 
.right-form ul li span {
	font: 14px Arial;
	color: #f75931;
	margin-left: 25px;
}
.add-work {
	background: url(../images/client.jpg) repeat-x;
	font-size: 15px;
	color: #fff;
	margin: 95px 0 0 0;
	text-align: right;
	float: right;
	text-decoration: none;
	padding: 6px 61px;
	border-top: 1px solid #d55130;
	border-bottom: 1px solid #d55130;
	border-left: 1px solid #d5502f;
	border-right: 1px solid #d5502f;
	border-radius: 4px;
	line-height: 20px;
}
.add-work:hover {
	background: url(../images/client.jpg) repeat-x 0 -32px;
}
.modal1 .title {
	font-size: 16px;
	color: #595959;
	display: block;
	text-align: center;
	margin-top: 35px;
	font-weight: bold;
	line-height: 20px;
}
.modal1 .coll-phone {
	font-size: 14px;
	color: #595959;
	display: block;
	text-align: center;
	margin-top: 30px;
}
.modal1 .phone-number {
	font-size: 24px;
	color: #595959;
	display: block;
	text-align: center;
	margin-top: 30px;
}
.modal1 .ready {
	font-size: 14px;
	color: #595959;
	display: block;
	text-align: center;
	margin-top: 30px;
	line-height: 20px;
}
.modal1 .phone-number span {
	color: #f75931;
}
.zadach-block {
	width: 790px;
	border-radius: 3px;
	background: #f5f5f5;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 0.75);
	padding: 20px;
	display: none;
}
.white-bock {
	background: #fff;
	height: 640px;
	border: 1px solid #dddada;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 10px;
}
.section {
	margin: 10px 20px 10px 10px;
	padding: 15px 0 10px 82px;
	position: relative;
	color: #000;
	border-bottom: 1px solid #f1efef;
}
.section h5 {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 15px;
}
.section p {
	font-size: 13px;
	margin-bottom: 15px;
}
.time {
	display: block;
	text-align: right;
	font-size: 13px;
	color: #c2c0c0;
}
.section img {
	position: absolute;
	top: 15px;
	left: 0;
}
.txt-are {
	width: 758px;
	padding: 15px;
	height: 100px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #cccccc;
	margin: 20px 0;
	font-size: 13px;
}
.btn-block {
	overflow: hidden;
}
.btn-block .end-za {
	float: left;
	background: url(../images/client.jpg) repeat-x;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	padding: 6px 46px;
	border-top: 1px solid #d55130;
	border-bottom: 1px solid #d55130;
	border-left: 1px solid #d5502f;
	border-right: 1px solid #d5502f;
	border-radius: 4px;
	line-height: 20px;
    font-weight: bold;
}
.btn-block .end-za:hover {
	background: url(../images/client.jpg) repeat-x 0 -32px;
}
.btn-block ul {
	float: right;
}
.btn-block ul  li {
	float: left;
	margin-left: 15px;
}
.adding {
	background: url(../images/add.jpg) no-repeat;
	width: 116px;
	height: 32px;
	border: none;
	cursor: pointer;
}
.sending {
	background: url(../images/add.jpg) no-repeat;
	width: 116px;
	height: 32px;
	border: none;
	cursor: pointer;
}
.zd-tite {
	float: left;
	margin-top: -10px;
	font-size: 13px;
	color: #595959;
}
.table-ad #simplemodal-container a.modalCloseImg {
	top: 14px !important;
	right: 11px !important;
}
.table-ad .simplemodal-wrap {
	overflow-x: hidden!important;
	overflow-y: hidden!important;
}


/* Container for 2 child elements (button & filename) */
.fileUpload {
    background: #fff;
    border: 0;
    display: block;
    margin: 2% 0 5% 0;
    width: 382px;
}

/* The button */
.fileUpload .fileBtn {
    background: url(../images/obzor.jpg) no-repeat;
    cursor: pointer;
    float: right;
	text-indent: -9999px;
    width: 90px;
	height: 30px;
}

/* Where the input-name will be filled in */
.fileUpload .fileName {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 262px;
    text-align: center;
	height: 16px;
    color: #000;
    padding: 7px 15px;
	background: url(../images/file.jpg) no-repeat right top;
}

/* Animation (hover) */
.fileUpload .fileBtn:hover {
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: background;
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: background;
    -o-transition-duration: 0.4s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: background;
    -ms-transition-duration: 0.4s;
    -ms-transition-timing-function: ease-in;
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

/* Clear input-parent, due to child-floats */
.fileUpload:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	margin: -50px auto 0;
	height: 50px;
	background: #f75931;
	color: #fff;
	min-width: 940px;
}
.footer .footer-inner-block {
    width: 940px;
    margin: 0 auto;
	position: relative;
}
.footer .footer-inner-block .copy {
	background: url(../images/copy.png) no-repeat center left;
	padding: 2px 0 2px 30px;
	line-height: 25px;
	font-size: 13px;
	position: absolute;
	left: 0;
	top: 14px;
}
.footer .footer-inner-block .address {
	line-height: 25px;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 14px;
}
.footer .footer-rog {
	display: block;
	background: url(../images/footer-rog.png) no-repeat;
	width: 30px;
	height: 19px;
	position: absolute;
	top: -19px;
	left: -40px;
}
.pagination {
    font-size: 15px;
    text-align: center;
}
.pagination li {
    display: inline-block;
    *display: block;
    zoom: 1;
    padding: 5px;
}
.pagination li a {
    color: #000;
    text-decoration: none;
}
.pagination .active {
    color: #f75931;
}
.bold1 {
    font-weight: bold;
}
.gluper .add-work {
    margin-top: 10px;
}
.stroger {
    margin: 0!important;
}
.slister {
    width: 60px;
    display: inline-block;
    *display: block;
    zoom: 1;
}
.draser {
    width: 241px;
}
.draser p {
    padding-bottom: 8px;
}
.stroger li {
    margin-bottom: 5px!important;
}
.my_btn {
    width: 239px!important;
}
.my_btn input {
    text-align: center;
    width: 100%!important;
}
.prosmotr_me {
    color: #f75931;
}
.edit_me {
    color: #000;
}
.filter input {
    border: 1px solid #ccc;
}
.super-grey {
    margin-bottom: 5px!important;
}
.slisters {
    width: 241px;
    clear: both;
}
.slisters form {
    padding-top: 13px;
}
.slisters p {
    padding-bottom: 8px;
}
.slisters input {
    width: 175px;
}
.slisters input.btn {
    margin-top: 8px;
    width: 100%;
}
.table-sop {
    margin: 10px auto 0!important;
}
.action-btn {
    text-align: center;
}
.action-btn form {
    display: inline;
    padding-left: 2px;
}
.action-btn form input[type="submit"] {
    width: 16px;
    height: 16px;
    background: url("/images/delete.png") no-repeat;
    text-indent: -9999px;
    border: none;
}
.action-btn a {
    margin-left: 2px;
}
.bn-wp {
    width: 890px;
    margin: 0 auto;
}
.draser input
{
    width: 175px;
}
.draser select {
    width: 179px;
}
.password-me input{
    width: 360px!important;
}
.select-s select {
    height: 30px;
}
.add-worl-me {
    margin-top: 20px;
}
.add-worl-me .add-work {
    padding-left: 0!important;
    text-align: center;
    padding-right: 0!important;
    margin-top: 10px!important;
    width: 173px;
    float: left;
}
.ska input {
    margin-top: 10px;
}
.openss li {
    margin-bottom: 2px;
}
.start_up {
    margin-top: 15px;
}
.sui input {
    margin-top: 10px;
}
.stricker .add-work {
    width: 175px;
    float: left;
    margin-bottom: 15px;
    padding-left: 0!important;
    text-align: center;
    padding-right: 0!important;
}
.form-comment input[type="submit"] {
    width: 175px;
    margin-top: 13px;
}
.form-comment textarea {
    width: 500px;
    height: 100px;
    resize: none;
    margin-top: 10px;
}
.stroper {
    margin-left: 0!important;
}
.uio .add-work {
    margin-top: 10px;
}
.opinion input[type="password"] {
    width: 360px;
}